<!DOCTYPE html>
<html>
<head lang="en">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
  <script src="js/board.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="css/angularjs-bootstrap.css" rel="stylesheet"/>
  <link href="css/board.css" rel="stylesheet"/>
</head>
<body ng-app="me.hcai.blind.board" ng-controller="boardController">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BLIND</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input type="text" ng-model="searchText" placeholder="SYMBOL"/>
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="figures[key]" btn-checkbox
               ng-repeat="(key, value) in figures">{{key2Label[key]}}</label>
      </div>
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-danger">Sort By {{key2Label[sortBy]}}</button>
        <button type="button" class="btn btn-danger dropdown-toggle">
          <span class="caret"></span>
          <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-2 stock-card" ng-repeat="stock in stocks | filter:searchText">
      {{stock.name}} <BR/>
      <div ng-show="figures.minGrowth">{{stock.minGrowth}}</div>
      <div ng-show="figures.dayGrowth">{{stock.dayGrowth}}</div>
    </div>
  </div>
</div>
<!-- /.container -->
</body>
</html>